*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.imagen{
    display: flex;
    width: 482px;
    height: 321px;
    top: -271px;
    left: -242px;
    border-radius: 20px 20px 0px 0px;
    background-image: url(../ASSETS/haha.svg);
    justify-content: space-between;
    align-items: center;
}
.AVATAR{
    display: flex;
    width: 115px;
    height: 105px;
    /*top: -160px;*/
    background-image: url(../ASSETS/avatar.svg);
}
.Badge{
    display: flex;
    background-image: url(../ASSETS/Badge\ xd.svg);
    width: 76px;
    height: 33px;
    top: -87px;
    left: 154px;
    border-radius: 7px;
}
.NICK{
    background-image: url(../ASSETS/Nick.svg);
    width: 166px;
    height: 30px;
    top: -4px;
    left: -214px;
}
